PORT=5000
NODE_ENV=development

# Database connection string (PostgreSQL)
DATABASE_URL="postgresql://velozity_user:velozity_secure_password@localhost:5432/velozity_dashboard?schema=public"

# Authentication Secrets
JWT_ACCESS_SECRET="velozity_jwt_access_token_secret_key_prod_v1"
JWT_REFRESH_SECRET="velozity_jwt_refresh_token_secret_key_prod_v1"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Allowed CORS Origin for Client
CLIENT_URL="http://localhost:5173"
